.counts {
    background: #34495E;
    color: #fff;
    border-radius: 5px;
	width: 225px;
	margin: auto;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}

h3 {
	text-align: center;
}