.main {
  max-width: 925px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 0 auto;
}

.search-form {
  text-align: center;
  margin: 0 auto 40px auto;
}

button {
  margin-left: 10px;
  color: #fff;
  background-color: #009b25;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 18px;
  cursor: pointer;
}
